@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background: #09090b;
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior-y: none;
}

/* iOS safe area */
#root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
